@import 'tailwindcss';
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@plugin '@tailwindcss/typography';

/* -------------------- Lists -------------------- */

/* -------------------- Scroll Bar -------------------- */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2154ff #dee2e6;
}

/* WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #fff;
}

::-webkit-scrollbar-thumb {
  background: #e1d7eeff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2154ff;
}

/* -------------------- Theme Variables -------------------- */
@theme inline {
  --default-font-family: var(--font-poppins);

  /* Base colors */
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-body: #faf9f5;

  /* Primary */
  --color-primary: #3f51b5;
  --color-primary-900: #1a237e;
  --color-primary-800: #283593;
  --color-primary-700: #303f9f;
  --color-primary-600: #3949ab;
  --color-primary-500: #5595c5;
  --color-primary-400: #5c6bc0;
  --color-primary-300: #7986cb;
  --color-primary-200: #9fa8da;
  --color-primary-100: #c5cae9;
  --color-primary-50: #e8eaf6;

  /* Secondary */
  --color-secondary: #f44336;
  --color-secondary-900: #b71b1c;
  --color-secondary-800: #c62828;
  --color-secondary-700: #d32f2f;
  --color-secondary-600: #e53935;
  --color-secondary-400: #ef5350;
  --color-secondary-300: #e57373;
  --color-secondary-200: #ef9a9a;
  --color-secondary-100: #ffcdd2;
  --color-secondary-50: #ffebee;

  /* Custom colors */
  --color-cardlight: #f6f7f8;
  --color-heading: #2b2b2b;
  --color-textbase: #ffffff;
  --color-textdark: #1d263a;
  --color-info-100: #fef3c6;
  --color-red-shade: #f82122;
  --color-green-shade-100: #dcfce7;
  --color-green-shade-200: #b9f8cf;
}

/* -------------------- Global Typography -------------------- */
@layer base {
  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  h3 {
    @apply text-2xl font-semibold;
  }

  h4 {
    @apply text-xl font-medium;
  }

  h5 {
    @apply text-lg font-medium;
  }

  h6 {
    @apply text-base font-medium;
  }
}

.prose strong {
  @apply text-inherit;
}
.prose blockquote {
  @apply text-inherit;
}
.prose p {
  @apply text-inherit;
}
.prose h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-inherit;
}
